* {
    margin: 0;
    padding: 0;    
}

header {
    display: flex;
    background-color: #1f2937 ;
    color: #e5e7eb;
    size: 18px;
    justify-content: flex-end;
    justify-content: space-between;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}


nav ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 10px 0 10px 0;
    padding: 20px 20px;
}

header a {
    text-decoration: none;
}

header a:hover, a:visited, a:active {
    color: inherit;
}