* {
    margin: 0;
    padding: 0;    
}
/* HEADER SECTION */

header {
    display: flex;
    background-color: #1f2937 ;
    color: #e5e7eb;
    size: 18px;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 0 150px 0 150px;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}


nav ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 10px 0 10px 0;
    padding: 20px 20px;
    padding-right: 0px;
}

nav ul li {
    margin-right: 10px;
}


li:nth-last-child(-n+1){
    margin-right: 0;
}

header a {
    text-decoration: none;
}

header a:hover, a:visited, a:active {
    color: inherit;
}

/* END OF HEADER SECTION */

/* HERO SECTION */

.hero {
    display: flex;
    background-color: #1f2937 ;
    color: #e5e7eb;
    justify-content: space-between;
    padding: 50px 150px 50px 150px;
}

.hero-text {
    width: 400px;
    height: auto;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;  
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    font-weight: 700;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
}

button:hover {
    background-color: #3165af;
}

.hero-image {
    display: flex;
    width: 400px;
    height: auto;
    background-color: #5673ac;
    justify-content: center;
    align-items: center;
}

/* HERO SECTION END */

/* MAIN SECTION */

.main {
    display: flex;
    padding: 50px 150px 50px 150px;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    font-size: 24px; 
    font-weight: 900;
    color: #1f2937;

    
}

.img1, .img2, .img3, .img4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 150px;
    height: auto;
    margin: 50px 50px 0 50px;
    font-size: 18px;
    font-weight: 200;
}

.box1, .box2, .box3, .box4 {
    height: 150px;
    width: 150px;
    border-color: #3165af;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

/* MAIN SECTION END */

/* QUOTE SECTION */

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-section {

    width: 900px;
    height: auto;
    margin: 150px 0px 100px 0px;
}

.quote-section p {
    font-size: 30px;
    text-align: left;
    color: #1f2937;
    font-style: italic;
    margin-bottom: 10px;
}

.quote-section h3 {
    text-align: right;
    margin-right: 50px;
}

/* QUOTE SECTION END */

/* SIGN UP SECTION */

.signup-container {
    display: flex;
    justify-content: center;
}

.signup-section {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    color: #e5e7eb;
    width: 1000px;
    height: auto;
    margin: 100px 0px 100px 0px;
    border-radius: 5px;
}

.signup-content {
    margin: 50px 0px 50px 0px;
}

#signup-button {
    border: 1px solid;
    border-color: #e5e7eb;
    margin: 50px 0px 50px 0px;   
}

/* SIGN UP SECTION END */ 