* {
    margin: 0;
    padding: 0;    
}
/* HEADER SECTION */

header {
    display: flex;
    background-color: #1f2937 ;
    color: #e5e7eb;
    size: 18px;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 0 150px 0 150px;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
}


nav ul {
    display: flex;
    align-items: flex-end;
    list-style-type: none;
    margin: 10px 0 10px 0;
    padding: 20px 20px;
}

nav ul li {
    margin-right: 10px;
}

header a {
    text-decoration: none;
}

header a:hover, a:visited, a:active {
    color: inherit;
}

/* END OF HEADER SECTION */

/* HERO SECTION */

.hero {
    display: flex;
    background-color: #1f2937 ;
    color: #e5e7eb;
    justify-content: space-between;
    padding: 50px 150px 50px 150px;
}

.hero-text {
    width: 400px;
    height: auto;
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;  
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    font-weight: 700;
    padding: 5px 20px;
    text-align: center;
    border-radius: 5px;
}

button:hover {
    background-color: #3165af;
}

.hero-image {
    display: flex;
    width: 400px;
    height: auto;
    background-color: #5673ac;
    justify-content: center;
    align-items: center;
}